.hero-img {
  background-image: url(../../Media/images/illustration-working.svg);
  background-size: 125vw;
  background-repeat: no-repeat;
  background-position-x: 10vw;
  height: 90vw;
  width: 100%;
}
.hero-container {
  margin-top: 0.5rem;
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-inline: var(--padding-inline-mobile);
}
.hero-text p {
  color: var(--gray-font-color);
  margin-bottom: 1.5rem;
  line-height: 1.8rem;
  max-width: 500px;
}
.hero-text h1 {
  font-size: 2.4rem;
  color: var(--sp-dark-violet-font);
  line-height: 2.8rem;
  margin-bottom: 0.5rem;
}

.hero-text button {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 5rem;
  padding: 0.8rem 2.5rem;
}
@media only screen and (min-width: 1000px) {
  *,
  * > * {
    margin: 0;
    padding: 0;
  }
  .hero-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .hero-text {
    margin-left: 10vw;
    margin-top: 15vh;
    text-align: left;
    padding: 0;
  }
  .hero-text h1 {
    font-size: 4.5rem;
    line-height: 5rem;
    margin-bottom: 0;
  }
  .hero-text p {
    font-size: 1.2rem;
  }
  .hero-img {
    /* border-style: solid; */
    margin-top: 7vh;
    margin-bottom: 4.5rem;
    background-size: 90vh;
    background-position-x: 10vw;
    height: 65vh;
  }
  .hero-text button {
    padding: 0.6rem 2rem;
  }
  .hero-text button:hover {
    opacity: 0.5;
  }
}
